.manifestbox{
	margin-top: 10px;
	width: 100%;
	box-sizing: border-box;
	background: #fff;
	border: 1px solid #ddd;
}
.manifestbox a{
	color: #333;
}
.head{
	height: 40px;
	line-height: 40px;
	text-indent: 5px;
	background: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
}
.orderul{
	border-bottom: 1px solid #CBCBCB;
}
.orderul li{
	padding: 10px;
	box-sizing: border-box;
	border-top: 1px solid #CBCBCB;
}
.orderul dl{
	height: 30px;
	width: 100%;
	line-height: 30px;
}
.bottom dl{
	height: 40px;
	width: 100%;
	line-height: 40px;
}
.orderstate{
	float: right;
	margin-right: 10px;
	color: #FF5757;
}
.orderul dl:nth-child(1),.orderul dl:nth-child(3),.orderul dl:nth-child(4){
	color: #6E6F6A;
}
.orderul dl:nth-child(2){
	color: #000;
	font-weight: bold;
}
.orderul dl dd{
	text-align: right;
}
.orderul dl i{
	padding-right: 5px;
}
.time{
	color: #ff5757;
}
.orderul dt,.orderul dd,.bottom dt,.bottom dd{
	float: left;
}
.orderul dt,.bottom dt{
	width: 70%;
	height: 100%;
}
.orderul dd,.bottom dd{
	width: 30%;
	height: 100%;
}

.order button,.accept button,.confirm button{
	border: 1px solid #ddd;
	background: #fff;
	color: #03B9FA;
	height: 24px;
	width: 70px;
	border-radius: 4px;
	box-shadow: 0px 0px 1px rgba(34, 25, 25, 0.2);
	outline: none;
	font-family: "microsoft yahei";
}
.ordersucc{
	display: none;
}
.confirm dt button{
	margin-left: 10px;
}
.accept dd,.confirm dd{
	text-align: right;
}
.accept dd button,.confirm dd button{
	margin-right: 10px;
}
.bottom{
	height: 40px;
}

