*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 14px;
	font-family: "microsoft yahei";
	background: #F1F1F1;
}
header{
	height: 40px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	box-shadow: 1px 0px 4px rgba(0,0,0,0.4);
}
ul{
	list-style: none;
}
nav ul.navul li{
	float: left;
	width: 25%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	position: relative;
}
nav ul.navul li.have:after{
	content:attr(data-num);
	position: absolute;
	width: 16px;
	height: 12px;
	background:#00A2DC;
	color: #fff;
	right: 0;
	top: 0px;
	border: 1px solid #fff;
	line-height: 12px;
	text-align: center;
	font-size: 12px;
	font-family: arial;
}
a{
	text-decoration: none;
}
.navul a{
	color: #FFf;
	font-size: 15px;
	display: block;
	width: 100%;
	height: 100%;
	background: #666666;
	font-weight: bold;
}
.navul a.active{
	background: #999999;
	color: #000;
}
.main{
	overflow: hidden;
	margin-top: 40px;
}

